<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smh.point.mapper.LPointClassMapper">
    <!-- Begin Base Config -->
    <sql id="fields" ><!-- ALl Fields -->
        pid,point_data_id,x,y,h,is_control_p,is_h0,mark
    </sql>

    <sql id="values">
        #{pid},#{pointDataId},#{x},#{y},#{h},#{isControlP},#{isH0},#{mark}
    </sql>

    <sql id="foreachObj">
        #{obj.pid},#{obj.pointDataId},#{obj.x},#{obj.y},#{obj.h},#{obj.isControlP},#{obj.isH0},#{obj.mark}
    </sql>


    <sql id="insertFields"><!-- Fields to insert -->
        <trim  suffixOverrides="," >
            <if test="pid != null">pid,</if>
            <if test="pointDataId != null">point_data_id,</if>
            <if test="x != null">x,</if>
            <if test="y != null">y,</if>
            <if test="h != null">h,</if>
            <if test="isControlP != null">is_control_p,</if>
            <if test="isH0 != null">is_h0,</if>
            <if test="mark != null">mark,</if>
        </trim>
    </sql>

    <sql id="insertValues"><!-- Values to insert -->
        <trim  suffixOverrides="," >
            <if test="pid != null">#{pid},</if>
            <if test="pointDataId != null">#{pointDataId},</if>
            <if test="x != null">#{x},</if>
            <if test="y != null">#{y},</if>
            <if test="h != null">#{h}</if>
            <if test="isControlP != null">#{isControlP},</if>
            <if test="isH0 != null">#{isH0},</if>
            <if test="mark != null">#{mark},</if>
        </trim>
    </sql>

    <!-- End Base Config -->

    <!-- 新增 -->
    <insert id="insert" parameterType="Object" >
        insert into points(<include refid="insertFields"/>)
        values(<include refid="insertValues"/>)
    </insert>

    <!-- 修改数据 -->
    <!--<update id="update" parameterType="Object">-->
        <!--update points set-->
        <!--<include refid="sets"/>-->
        <!--where id = #{id}-->
    <!--</update>-->

    <!-- 作废数据 -->
    <update id="invalid" parameterType="Object">
        update points set mark=-1
        where id = #{id}
    </update>

    <!-- 获取List<T>对象 (查询条件明确，禁止conditions) -->
    <!--<select id="selectMap" parameterType="Map" resultType="com.smh.shuizhun.model.LPointClass">-->
        <!--select <include refid="fields"/> from points-->
        <!--<include refid="conditions"/>-->
        <!--order by id-->
    <!--</select>-->

    <!-- 获取记录Count数量 -->
    <select id="selectPageCount" parameterType="Map" resultType="Integer">
        select count(*) from points
    </select>
    <!-- 获取List<T>分页对象 -->
    <select id="selectPageEntities" parameterType="Map" resultType="com.smh.shuizhun.model.LPointClass">
        select * from points
        order by id desc limit #{pageBegin},#{pageSize}
    </select>

    <!--获取T对象 (查询条件明确，禁止conditions) -->
    <select id="selectEntity" parameterType="Object" resultType="com.smh.shuizhun.model.LPointClass">
        select <include refid="fields"/> from points
    </select>

    <!-- 批量增加 -->
    <insert id="insertBatch" parameterType="List" >
        insert into points(<include refid="fields"/>)
        values
        <foreach collection="list" item="obj" index="index" separator=",">
            (<include refid="foreachObj"/>)
        </foreach>
    </insert>

</mapper>