<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtask.mapper.TeamTaskMapper">
<!-- Begin Base Config -->
	<sql id="fields" ><!-- ALl Fields -->
		team_task_id, team_id, data_id, task_type, creat_time, mark
	</sql>

	<sql id="values">
		#{teamTaskId},#{teamId},#{dataId},#{taskType},#{creatTime},#{mark}
	</sql>

	<sql id="foreachObj">
		#{obj.teamTaskId},#{obj.teamId},#{obj.dataId},#{obj.taskType},#{obj.creatTime},#{obj.mark}
	</sql>

	<sql id="sets"><!-- Set Fields -->
		<trim  suffixOverrides="," >
			<if test="teamTaskId != null">team_task_id = #{teamTaskId},</if>
			<if test="teamId != null">team_id = #{teamId},</if>
			<if test="dataId != null">data_id = #{dataId},</if>
			<if test="taskType != null">task_type = #{taskType},</if>
			<if test="creatTime != null">creat_time = #{creatTime},</if>
			<if test="mark != null">mark = #{mark},</if>
		</trim>
	</sql>

	<!-- SQL查询条件明确，禁止conditions(便于索引) -->
	<sql id="conditions"><!-- Search Condition -->
		<trim prefix="where" prefixOverrides="and |or">
	        <if test="teamTaskId != null"> and team_task_id = #{teamTaskId}</if>
			<if test="teamId != null"> and team_id = #{teamId}</if>
			<if test="dataId != null"> and data_id = #{dataId}</if>
			<if test="taskType != null"> and task_type = #{taskType}</if>
			<if test="creatTime != null"> and creat_time = #{creatTime}</if>
			<if test="mark != null"> and mark = #{mark}</if>
	    </trim>
	</sql>
	<sql id="insertFields"><!-- Fields to insert -->
		<trim  suffixOverrides="," >
			<if test="teamTaskId != null">team_task_id,</if>
			<if test="teamId != null">team_id,</if>
			<if test="dataId != null">data_id,</if>
			<if test="taskType != null">task_type,</if>
			<if test="creatTime != null">creat_time,</if>
			<if test="mark != null">mark,</if>
		</trim>
	</sql>

	<sql id="insertValues"><!-- Values to insert -->
		<trim  suffixOverrides="," >
			<if test="teamTaskId != null">#{teamTaskId},</if>
			<if test="teamId != null">#{teamId},</if>
			<if test="dataId != null">#{dataId},</if>
			<if test="taskType != null">#{taskType},</if>
			<if test="creatTime != null">#{creatTime},</if>
			<if test="mark != null">#{mark},</if>
		</trim>
	</sql>

<!-- End Base Config -->

	<!-- 新增 -->
	<insert id="insert" parameterType="Object" >
		insert into team_task(<include refid="insertFields"/>)
		values(<include refid="insertValues"/>)
	</insert>

	<!-- 修改数据 -->
	<update id="update" parameterType="Object">
		update team_task set
		<include refid="sets"/>
		where id = #{id}
	</update>

	<!-- 获取记录Count数量 -->
	<select id="selectPageCount" parameterType="Map" resultType="Integer">
		select count(*) from team_task
	</select>
	<!-- 获取List<T>分页对象 -->
	<select id="selectPageEntities" parameterType="Map" resultType="com.teamtask.model.TeamTaskEntity">
		select * from team_task
		order by id desc limit #{pageBegin},#{pageSize}
	</select>

	<!--获取T对象 (查询条件明确，禁止conditions) -->
	<select id="selectEntity" parameterType="Object" resultType="com.teamtask.model.TeamTaskEntity">
		select <include refid="fields"/> from team_task
		<include refid="conditions"/>
	</select>

	<!-- 批量增加 -->
	<insert id="insertBatch" parameterType="List" >
		insert into team_task(<include refid="fields"/>)
		values
			<foreach collection="list" item="obj" index="index" separator=",">
				(<include refid="foreachObj"/>)
			</foreach>
	</insert>

</mapper>