<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.mapper.UserMapper">
<!-- Begin Base Config -->
	<sql id="fields" ><!-- ALl Fields -->
		user_id, user_name, sex, age, email, phone_number, mark
	</sql>

	<sql id="values">
		#{userId},#{userName},#{sex},#{age},#{email},#{phoneNumber},#{mark}
	</sql>

	<sql id="foreachObj">
		#{obj.userId},#{obj.userName},#{obj.sex},#{obj.age},#{obj.email},#{obj.phoneNumber},#{obj.mark}
	</sql>

	<sql id="sets"><!-- Set Fields -->
		<trim  suffixOverrides="," >
			<if test="userId != null">user_id = #{userId},</if>
			<if test="userName != null">user_name = #{userName},</if>
			<if test="sex != null">sex = #{sex},</if>
			<if test="age != null">age = #{age},</if>
			<if test="email != null">email = #{email},</if>
			<if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
			<if test="mark != null">mark = #{mark},</if>
		</trim>
	</sql>

	<!-- SQL查询条件明确，禁止conditions(便于索引) -->
	<sql id="conditions"><!-- Search Condition -->
		<trim prefix="where" prefixOverrides="and |or">
	        <if test="userId != null"> and user_id = #{userId}</if>
			<if test="userName != null"> and user_name = #{userName}</if>
			<if test="sex != null"> and sex = #{sex}</if>
			<if test="age != null"> and age = #{age}</if>
			<if test="email != null"> and email = #{email}</if>
			<if test="phoneNumber != null"> and phone_number = #{phoneNumber}</if>
			<if test="mark != null"> and mark = #{mark}</if>
	    </trim>
	</sql>
	<sql id="insertFields"><!-- Fields to insert -->
		<trim  suffixOverrides="," >
			<if test="userId != null">user_id,</if>
			<if test="userName != null">user_name,</if>
			<if test="sex != null">sex,</if>
			<if test="age != null">age,</if>
			<if test="email != null">email,</if>
			<if test="phoneNumber != null">phone_number,</if>
			<if test="mark != null">mark,</if>
		</trim>
	</sql>

	<sql id="insertValues"><!-- Values to insert -->
		<trim  suffixOverrides="," >
			<if test="userId != null">#{userId},</if>
			<if test="userName != null">#{userName},</if>
			<if test="sex != null">#{sex},</if>
			<if test="age != null">#{age},</if>
			<if test="email != null">#{email},</if>
			<if test="phoneNumber != null">#{phoneNumber},</if>
			<if test="mark != null">#{mark},</if>
		</trim>
	</sql>

<!-- End Base Config -->

	<!-- 新增 -->
	<insert id="insert" parameterType="Object" >
		insert into user(<include refid="insertFields"/>)
		values(<include refid="insertValues"/>)
	</insert>

	<!-- 修改数据 -->
	<update id="update" parameterType="Object">
		update user set
		<include refid="sets"/>
		where id = #{id}
	</update>

	<!-- 获取记录Count数量 -->
	<select id="selectPageCount" parameterType="Map" resultType="Integer">
		select count(*) from user
	</select>
	<!-- 获取List<T>分页对象 -->
	<select id="selectPageEntities" parameterType="Map" resultType="com.user.model.UserEntity">
		select * from user
		order by id desc limit #{pageBegin},#{pageSize}
	</select>

	<!--获取T对象 (查询条件明确，禁止conditions) -->
	<select id="selectEntity" parameterType="Object" resultType="com.user.model.UserEntity">
		select <include refid="fields"/> from user
		<include refid="conditions"/>
	</select>

	<!-- 批量增加 -->
	<insert id="insertBatch" parameterType="List" >
		insert into user(<include refid="fields"/>)
		values
			<foreach collection="list" item="obj" index="index" separator=",">
				(<include refid="foreachObj"/>)
			</foreach>
	</insert>

</mapper>